.parent{
    border: solid grey 1px;
    width: 400px;
    height: 825px;
    margin-top: 8px;
    margin-left: 500px;
}
.img{
    height: 100px;
    width: 200px;
    margin-left: 59px;
    margin-top: 10px;
}
.butt{
    margin-left: 218px
}
.ul{
    margin-left: 123px;
    margin-top:-12px
}